*.sh text eol=lf
*.ps1 text eol=crlf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
data/gold/gold_dataset.csv filter=lfs diff=lfs merge=lfs -text
artifacts/models/rf.joblib filter=lfs diff=lfs merge=lfs -text
data/gold/gold_dataset.csv.dvc filter=lfs diff=lfs merge=lfs -text
artifacts/models/rf.joblib.dvc filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
data/gold/*.csv filter=lfs diff=lfs merge=lfs -text
artifacts/models/*.dvc filter=lfs diff=lfs merge=lfs -text
